*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0 10%; */
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1em;
  line-height: 1.5;
  background-color: #FAFAFA;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipe-card{
  display: flex;
  flex-direction: column;
  padding: .1em;
}

.recipe-card img{
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.recipe-card-info{
  margin: 1em 0;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.recipe-card a{
  text-decoration: none;
  color: black;
}

.recipe-card h4{
  font-weight: 600;
  font-size: 1rem;
  color: black;
  margin-bottom: .6em;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.recipe-card p{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; 
           line-clamp: 4; 
   -webkit-box-orient: vertical;
   font-size: .9rem;
}

.card-bottom-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dish-type{
  font-size: 1rem;
  text-transform: capitalize;
  color: #228B22;
}

.recipe-likes{
  padding-top: 1em;
  text-align: end;
}

.recipe-likes svg{
  color: gray;
}

.splide__pagination{
  bottom: -1.5em !important;
}

.splide__pagination__page{
  background: #494949 !important;
}

.splide__pagination__page.is-active{
  background: #313131 !important;
}






.shapedividers_com-8821{
  overflow:hidden;
  
  }
  .shapedividers_com-8821::after{
    content:'';
    background-color: #3FE978;
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    z-index:-1;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 65px;
    background-position: 50% 0%;
  }
  .shapedividers_com-8821::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: 20vh;
  z-index:-1;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 100% 65px;
  background-position: 50% 0%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%233fe978"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%233fe978"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%233fe978"/></svg>'); 
  }
  
  @media (min-width:768px){
  .shapedividers_com-8821::before{
  background-size: 100% 160px;
  background-position: 50% 0%;   
  }  
  }
   
  @media (min-width:1025px){
  .shapedividers_com-8821::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: 20vh; 
  background-size: 100% 120px;
  background-position: 50% 0%;  
  }
  }
  @media (min-width:2100px){
  .shapedividers_com-8821::before{
  background-size: 100% calc(2vw + 120px);
  }
  }
   
   