*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0 10%; */
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1em;
  line-height: 1.5;
  background-color: #FAFAFA;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipe-card{
  display: flex;
  flex-direction: column;
  padding: .1em;
}

.recipe-card img{
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}


.recipe-card-info{
  margin: 1em 0;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

.recipe-card a{
  text-decoration: none;
  color: black;
}

.recipe-card h4{
  font-weight: 600;
  font-size: 1rem;
  color: black;
  margin-bottom: .6em;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.recipe-card p{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; 
           line-clamp: 4; 
   -webkit-box-orient: vertical;
   font-size: .9rem;
}

.card-bottom-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dish-type{
  font-size: 1rem;
  text-transform: capitalize;
  color: #228B22;
}

.recipe-likes{
  padding-top: 1em;
  text-align: end;
}

.recipe-likes svg{
  color: gray;
}

.splide__pagination{
  bottom: -1.5em !important;
}

.splide__pagination__page{
  background: #494949 !important;
}

.splide__pagination__page.is-active{
  background: #313131 !important;
}